numpy
pandas
matplotlib
seaborn
pandas-datareader
pyportfolioopt
pyportfolioanalysis
pyportfoliotracker
pulp
yfinance
yahoo_earnings_calendar
cvxpy
cvxopt
cherrypy
pymongo
paho-mqtt
beautifulsoup4
vaderSentiment
stocknews

